[submodule "Pyro/external/spdlog"]
	path = Pyro/external/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Pyro/external/GLFW"]
	path = Pyro/external/GLFW
	url = https://github.com/L4ZZA/glfw
[submodule "Pyro/external/imgui"]
	path = Pyro/external/imgui
	url = https://github.com/L4ZZA/imgui
[submodule "Pyro/external/glm"]
	path = Pyro/external/glm
	url = https://github.com/g-truc/glm
