[submodule "pyro/external/spdlog"]
	path = pyro/external/spdlog
	url = https://github.com/gabime/spdlog
	branch = v1.x
[submodule "pyro/external/GLFW"]
	path = pyro/external/GLFW
	url = https://github.com/L4ZZA/glfw
	branch = CG_engine
[submodule "pyro/external/imgui"]
	path = pyro/external/imgui
	url = https://github.com/L4ZZA/imgui
	branch = pyro_docking
[submodule "pyro/external/glm"]
	path = pyro/external/glm
	url = https://github.com/g-truc/glm
	branch = master
[submodule "pyro/external/assimp"]
	path = pyro/external/assimp
	url = https://github.com/L4ZZA/assimp/
	branch = premake
[submodule "pyro/external/yaml-cpp"]
	path = pyro/external/yaml-cpp
	url = https://github.com/L4ZZA/yaml-cpp/
