[submodule "Pyro/external/spdlog"]
	path = Pyro/external/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Pyro/external/GLFW"]
	path = Pyro/external/GLFW
	url = https://github.com/L4ZZA/glfw
